.the-first
  .container
    .top-title
      %h1 Instagram Marketing Tools Suite
      %h3 Semi-automate posts and view in depth analytics. FREE!

  .form-log
    %form.form-inline
      .form-group
        %input.form-control.input-lg{:placeholder => "Name", :type => "text"}/
      .form-group
        %input.form-control.input-lg{:placeholder => "E-mail", :type => "text"}/
      .form-group
        %input.form-control.input-lg{:placeholder => "Password", :type => "text"}/
      %button.btn.btn-success.btn-lg{:type => "button"} Begin

.container
  .the-ctr
    .row
      .title-inside
        %h1 Influncer Consultancy & Campaign Management 
        %h4 New the Instagram marketing ? Let our team of experts and influencers do all the work for you ! 
        %h3 OUR SERVICES
      .col-md-5
        .text-left
          .media
            .media-left
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
          .media
            .media-left
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
          .media
            .media-left
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
      .col-md-2.visible-lg
        .vertical-line
      .col-md-5
        .text-right
          .media
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
            .media-right
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'
          .media
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
            .media-right
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'
          .media
            .media-body
              %h4.media-heading Full Campaign Planning and Execution
              %p Tell what you wish to archieve on instagram and we will take care of the rest!
            .media-right
              = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image', width: '80px', height: '80px'

.form-homepage
  .about-form
    .form-title
      %h1 FIND OUT MORE
      %h3 Tell us whatyou wish to schieve. We wil you how we can do it.
    
    .col-md-6.col-md-offset-3
      %form
        .form-group
          %input.form-control.input-lg{:placeholder => "Full Name", :type => "text"}/
        .form-group
          %input.form-control.input-lg{:placeholder => "E-mail", :type => "text"}/
        .form-group
          %input.form-control.input-lg{:placeholder => "Subject", :type => "text"}/
        .form-group
          %textarea.form-control.input-lg{:rows => "3", placeholder: 'Message'}
        %button.btn.btn-warning.btn-lg{:type => "button"} Send


    