.container
  .the-first
    %h3 Instagram Marketing Tools Suite
    %p Semi-automate posts and view in depth analytics. FREE!

  %form.form-inline
    .form-group
      %label.sr-only{:for => "exampleInputEmail3"} Name
      %input#exampleInputEmail3.form-control{:placeholder => "Enter email", :type => "email"}/
    .form-group
      %label.sr-only{:for => "exampleInputEmail3"} Email address
      %input#exampleInputEmail3.form-control{:placeholder => "Enter email", :type => "email"}/
    .form-group
      %label.sr-only{:for => "exampleInputPassword3"} Password
      %input#exampleInputPassword3.form-control{:placeholder => "Password", :type => "password"}/
    %button.btn.btn-default{:type => "submit"} Sign   

.container
  .row
    %h1 Influncer Consultancy & Campaign Management 
    %h4 New the Instagram marketing ? Let our team of experts and influencers do all the work for you ! 
    %h2 Our Services 
    .col-md-6
      .media
        .media-left
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
      .media
        .media-left
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
      .media
        .media-left
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
    .col-md-6
      .media
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
        .media-right
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'
      .media
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
        .media-right
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'
      .media
        .media-body
          %h4.media-heading Media heading
          Tell what you wish to archieve on instagram and we will take care of the rest!
        .media-right
          = image_tag "circle.png", class: 'media-object', alt: 'Generic placeholder image'

.container
  .row
    %h4 Find OUt More
    %p Tell us whatyou wish to schieve. We wil you how we can do it.

    %form
      .form-group
        %input#exampleInputEmail1.form-control{:placeholder => "Full Name", :type => "email"}/
      .form-group
        %input#exampleInputEmail1.form-control{:placeholder => "Enter email", :type => "email"}/
      .form-group
        %input#exampleInputEmail1.form-control{:placeholder => "Subject", :type => "email"}/
      %textarea.form-control{:rows => "3"}
      %button.btn.btn-default{:type => "submit"} Send
        