!!!
%html
  %head
    %title Skippr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .site-wrapper
      .cover-container
        .masthead.clearfix
          .inner
            .logo-skippr
              = link_to image_tag("Logo.png", class: 'masthead-brand'), root_path
            %nav
              %ul.nav.masthead-nav
                %li{class: current_page?(home_path) && 'active'}
                  = link_to 'Home', home_path
                %li
                  = link_to "Consultancy", "#"
                %li
                  = link_to "Tools", "#"
                %li
                  = link_to "Pricing", "#"
                %li
                  = link_to "Contact", "#"

        = yield